PORT=8000
CORS_ORIGIN = *
MONGODB_URI=
ACCESS_TOKEN_SECRET=LbfEIRE3uC3eObuYcExDhGO69bXagwZsCUysCqr0M8BIIc4KlyXxmrZkfWH1TYkq
AcCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=VqUDBviWDIF6SkJ2dEjDC0H7YUziH2G2GJgwb01HAM0FMmby92bmOBMKXf7kraTH
REFRESH_TOKEN_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=